$blue-sky: #5398ff;
$black: #1e1e1e;
$grey: #909090;
$orange: #ffa500;
$white: #ffffff;
$blue-france: #000091;
$blue-france-975: #F5F5FE;
$red: #D2211c;
$red-hover: #ff0801;
$black-hover: #1616166e;
$green: #00b300;
$warning-925: #ffded9;
$warning-950: #FFE8E5;
$warning-425: #b34000;
$warning-850: #fcbfbf;
$info-975: #f4f6ff;
$info-425: #0063cb;
$success-950: #b8fec9;
$success-425: #18753c;
$success-850: #3bea7e;
$error-950: #ffe9e9;
$grey-425: #666666;
$light-grey: #666666;
$light-black: #161616;
$light-blue: #E8EDFF;
$purple-glycine-950: #FEE7FC;
$purple-glycine-sun-319: #6E445A;
