$blue-sky: #5398ff;
$black: #1e1e1e;
$grey: #909090;
$orange: #ffa500;
$white: #ffffff;
$blue-france: #000091;
$red: #D2211c;
$red-hover: #ff0801;
$black-hover: #1616166e;
$green: #00b300;
$warning-925: #ffded9;
$warning-425: #b34000;
$info-975: #f4f6ff;
$info-425: #0063cb;
$success-950: #b8fec9;
$success-425: #18753c;
$grey-425: #666666;