@import '../colors/colors';

.candidatDetails {
    .delete-candidature {
        background-color: $red !important;
    }
    .delete-candidature:hover {
        background-color: $red-hover !important
    }
    .titre {
        color: $blue-france
    }
    .react-datepicker-popper {
        transform: translate3d(90%, 120px, 0px) !important;
    }
    @media (min-width: 1000px) {
        .btn-actions {
            margin-left: auto;
        }
    }
    @media (max-width: 1000px) {
        .react-datepicker-popper {
            transform: translate3d(53%, 120px, 0px) !important;
        }
        .text-id {
            width: 100%;
        }
    }
}
