.ConseillerDetails {
  .flashBag {
    background-color: white;
    color: #008941;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    border: 1px solid;
    border-radius: 20px;
  }
  /* Modal Gestion */
  .modalOpened {
    opacity: 1;
    visibility: visible;
  }
}

.conseillers {
  .fr-tag.current {
    font-weight: 600;
    color: white;
    background-color: #5770BE;
}

  .fr-tag:not(.current):hover {
    background-color: #D5DBEF;
  }
}
