@import "../colors/colors";

.candidatureConseillerDetails {
  .color-text span {
    color: $light-grey;
  }
  .color-title-subpart strong {
    font-weight: 500;
  }
  @mixin commentaire {
    flex-direction: column;
    height: fit-content;
    padding: 1.5rem;
    display: flex;
    width: 50%;
  }
  .commentaire-prefet {
    &.negatif{
      background: $error-950;
    }
    &.positif {
      background: $success-950;
    }
    @include commentaire;
    border-radius: 8px 8px 0px 8px;
    margin-left: auto;
  }
  .motif-structure {
    background: $blue-france-975;
    border-radius: 8px 8px 8px 0px;
    @include commentaire;
  }
  .lien-modifier {
    &.negatif{
      background: $error-950 !important;
    }
    &.positif {
      background: $success-950 !important;
    }
    text-align: right;
    color: $blue-france;
    font-size: 16px;
  }

  .badge-avis-prefet {
    position: absolute;
    right: 0;
    top: 0;
  }
  .fr-badge {
    height: min-content;
  }
  .title-modal-confirmation-poste {
    display: inline-block;
  }
  .title-modal-confirmation-poste::first-letter {
    text-transform: capitalize;
  }
}
