@import "../colors/colors";

.conventions {
  .not-found {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
  }
  .filtre-btn {
    &:hover {
      color: $black-hover;
    }
  }
  @media (min-width: 1247px) {
    #search {
      flex: 0 0 46%;
      max-width: 46%;
      width: 46%;
    }
  }
}
