@import '../colors/colors';

.coordinateurDetails {
    .color-text span {
        color: $light-grey;
    }
    .color-title-subpart strong {
        font-weight: 500;
    }
    .questionnaire {
      color: $black;
      background-color: #E8EDFF;
      padding: 5rem;
    }
    .commentaire-prefet {
      color: $purple-glycine-sun-319;
      background: $purple-glycine-950;
      padding: 1.5rem;
      width: 50%;
      margin-bottom: 1.5rem;
      margin-left: auto;
    }
    .badge-avis-prefet {
      position: absolute;
      right: 0;
      top: 0;
    }
    #fr-modal-2 #fr-modal-2-title {
      text-transform: capitalize;
    }
    .title-modal-confirmation-poste {
      display: inline-block;
    }
    .title-modal-confirmation-poste::first-letter {
      text-transform: capitalize;
    }
    @media (max-width: 575px) {
        .questionnaire {
            padding: 1rem;
        }
    }
    @media (max-width: 768px) {
        .questionnaire {
            padding: 2rem;
        }
    }
}
