@import "../colors/colors";

.gestionnaires {
    .not-found {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }
    .filtre-btn {
        &:hover {
            color: $black-hover;
        }
    }
}
