@import "../colors/colors";

.structures {
    .title {
        color: $blue-france;
    }
    .btn-actions-structures {
        width: 6rem;
    }
    .selected button {
        color: $black-hover !important;
        font-weight: 600;
    }
    .filtre-btn {
        &:hover {
            color: $black-hover;
        }
    }
    .not-found {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
    }

    @media (max-width: 1200px) {
        .date-picker {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
        }
    }
    @media (min-width: 1201px) {
        .date-picker {
            flex: 0 0 29.3%;
            max-width: 29.3%;
            width: 29.3%;
        }
        #filtre-type {
            margin-left: auto;
        }
    }
}
