.proconnect-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}

.proconnect-button {
    background-color: transparent !important;
    background-image: url("../../assets/icons/pro-connect-button.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    width: 214px;
    height: 56px;
    border: none;
}

.proconnect-button:hover {
    background-image: url("../../assets/icons/pro-connect-button-hover.svg");
}