@import '../colors/colors';

/* Modal Gestion */
.modalOpened {
    opacity: 1;
    visibility: visible;
}

.fr-fieldset-contract__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.fr-contract-radio-group {
  flex-basis: 50%; 
  align-items: center;
  display: flex;
  padding-left: 10px;
  width: 262px;
}

.input-error {
  color: $red !important;
  box-shadow: inset 0 -2px 0 0 $red !important;
}

.text-error {
  color: $red !important;
  font-size: 0.8rem !important;
}